# Xmake cache
.xmake/
build/

# MacOS Cache
.DS_Store

.vscode/

*.dll
*.exp
*.pdb
*.ilk
*.obj
*.lib
*.TMP

demo/.godot/editor
demo/.godot/exported
demo/.godot/shader_cache
demo/.godot/uid_cache.bin
demo/.godot/global_script_class_cache.cfg

publish